* {
    padding: 0;
    margin: 0;
}

#start-btn {
    margin: 10px;
}

.game-table {
    margin: 10px;
    border: 3px black solid;
    border-collapse: separate;
    border-spacing: 4px;
}

.game-table td {
    border: 1px black solid;
}

.game-square {
    height: 30px;
    width: 30px;
}

.away {
    opacity: 0 !important;
}